
snippet class "Prototype base class"
function ${1:ClassName}($2){
	${2/([a-z0-9_]+),? ?/this.$1 = $1;\n\t/ig}
	$3
}

$1.prototype = {
	$4
};
endsnippet

snippet class_child "Prototype class style"
function ${1:ClassName}($3){
	${2:BaseClass}.call(this$4);
	${3/([a-z0-9_]+),? ?/this.$1 = $1;\n\t/ig}
	$5
}

$1.prototype = Object.create($2.prototype, {
	$6
});

$1.prototype.constructor = $1;
endsnippet
